# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/report
/.nyc_output
/coverage
/coverage-ts
/.scannerwork
/.tmp

# dependencies
/node_modules

# proto and proxy 
/protos/proxy

#dummy
/dummy

# environment files
.env
.env.*.local
report.json

# For testing purpose
bot-instruction.json